/* Lexend (SIL Open Font License): desenhada para facilitar a leitura de quem
   esta aprendendo a ler. Limpa, arredondada, sem ser infantilizada. */
@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url('../assets/fontes/lexend-500-latin.woff2') format('woff2');
}
@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url('../assets/fontes/lexend-700-latin.woff2') format('woff2');
}
